apiVersion: apps/v1
kind: Deployment
metadata:
  name: narocila-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: narocila
  template:
    metadata:
      labels:
        app: narocila
    spec:
      containers:
        - image: rso2223s01/narocila:latest
          name: narocila
          env:
            - name: KUMULUZEE_CONFIG_CONSUL_AGENT
              value: http://consul:8500
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://berry.db.elephantsql.com:5432/ocqmzrsq
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: ocqmzrsq
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-narocila-pass
                  key: KUMULUZEE_DATASOURCES0_PASSWORD
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: server
            initialDelaySeconds: 20
            periodSeconds: 3
          readinessProbe:
              httpGet:
                path: /health/ready
                port: server
              initialDelaySeconds: 20
              periodSeconds: 3

---

apiVersion: v1
kind: Service
metadata:
  name: narocila
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: narocila
